body {
    font-family: "Lato", sans-serif;
}

.item1 {
    grid-area: item1;
    background-color: #fefae0;
}

.menu {
    grid-area: item3;
    background-color: #dda15e;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    text-align: left;
}
.menu a {
    margin-left: -20px;
    text-decoration: none;
    color:#283618 ;
}
.menu a:hover {
    color:#fefae0 ;
}
.grid-productos {
    grid-area: item4;
    background-color: rgb(255, 255, 255);
    display: grid;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 50px;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    
}
.producto1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.421);
    gap: 10px;
    align-items: center;
    padding: 20px 10px;
    
    }

.pie {
    grid-area: item5;
    background-color: #283618;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}
.grid-container {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-areas: 
    "item1 item1 item1"
    "item3 item4 item4"
    "item5 item5 item5"
    ;
    height: 200px;
    text-align: center

}
button {
    color: rgb(255, 255, 255);
    background-color: #283618;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
}
button:hover {
    background-color: #606c38;
}




.producto1 img {
    width: 100%;
    height: auto;
}
.producto1 h2 {
    font-size: 14px;
}
.producto1 p {
    font-size: 17px;
    font-weight: 560;
}

.item1 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}